* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage {
  min-height: 100vh;
  background-image: url("../images/login-page-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop.skill-modal {
  max-width: 100%;
  padding: 20px;
  color: #fff;
  background: transparent;
  max-height: 100vh;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#000000f3;
}
